<div class="banner">
    <div class="left-buttons">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <% if (iduser===undefined){%>
        <div class="right-profile">
            <a href="/login">
                <img src="blank-profile-picture.png" alt="">
            </a>   
        </div>
    <%}else{%>
        <p><%= name %></p>
        <div class="right-profile">
            <a href="/profile">
                <img src=<%- image %> alt="">
            </a>   
        </div>
    <%}%>
</div>