<div class="banner">
    <div class="left-buttons">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <div class="right-search">
    </div>
</div>